@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Identity Server 3</h1>
    <p class="lead">
        Basic Identity Server 3 project - https://identityserver.github.io/Documentation/docsv2/overview/mvcGettingStarted.html
    </p>
    <p>This implements Implicit flow. We need:</p>
    <ul>
        <li>Clients (with Flow=Implicit, AllowAccessToAllScopes = true, RedirectUrls)</li>
        <li>Scopes (OpenId, Profile, Email, Roles,  OfflineAccess)</li>
        <li>Users (InMemory user - username, password, subject, claims)</li>
    </ul>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            You can navigate to the discovery endpoint
        </p>
        <p><a class="btn btn-default" href="https://localhost:44370/identity/.well-known/openid-configuration">https://localhost:44370/identity/.well-known/openid-configuration</a></p>
    </div>
    <div class="col-md-4">
        <h2>RAMMFAR</h2>
        <p>
            There are constant reminders to set-up RAMMFAR properly. If its not included lots of stuff goes tit up. e.g. IdentityServer has it's own
            Login functionality - it won't work without RAMMFAR.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Unusual Set-up</h2>
        <p>
            Normally, the OpenConnectId Provider aka Authentication Server aka Identity Server 3 would be running as a standalone service/website.
            The website/client using it would be on a completely different uri.
        </p>
        <p>
            In this example the calling (Test-MVC) application is in the same assembly. One way to notice this is that the page header
            changes to say "Embedded IdentityServer" (the IdentityServer site name) UI is provided (natively) by IdentityServer3.
            Specifically this happens when logging in or out. Another visible change is the url contains /identity when running this fucntionality -
            /Identity is mapped on IAppBuilder to be use IdentityServer3 to process requests.
        </p>
    </div>
    <div class="row">
        <a class="btn btn-default" href="https://localhost:44370/callapi/clientcredentials">Use client credentials when invoking a web Api</a>

        </div>
